//用色规范begin
//基本色-产品主色
$base-color-main:#00d4d3;
//基本色-重要提示
$base-color-important:#ff5e5e;
//基本色-辅助色
$base-color-aid:#ff9812;

//重要文字
$font-color-important:#32353a;
//次要文字
$font-color-secondary:#32353a;
//弱文字
$font-color-week:#32353a;
//提示文字、不可点击
$font-color-tip:#d3d8e1;
//反白文字
$font-white:#fff;

//边框色
$border-color:#e3e8ef;

//框架色-边框
$framework-color-border:#e3e8ef;

//框架色-底部背景、间隔线、默认图
$framework-color-bg:#eef0f6;

//框架色-提示文案背景
$framework-color-font-bg:#f7f8fb;

//用色规范end

//文字规范 注：1rem=20px
//标题字号
$font-h1:1.25rem;
$font-h2:.95rem;
$font-h3:.85rem;
$font-h4:.75rem;
//标题行高
/*$font-h1-space:1.25rem;
$font-h2-space:.95rem;
$font-h3-space:.85rem;
$font-h3-space:.75rem;*/

//内容字号
$font-xl:.75rem;
$font-lg:.7rem;
$font-md:.65rem;
$font-sm:.6rem;
$font-xs:.5rem;


@import "resetDefault";
