<!DOCTYPE html>
<html ng-app="phonecatApp">
<!--1.指定模块（module）-->
<head>
	<title>1.基本语法</title>

</head>
<!--2.指定控制器-->
<body >
	<ul ng-controller="PhoneListCtrl">
		  <!--3.显示数据-->
		<li ng-repeat="phone in phones">
			<span>{{phone.name}}</span>
			<p>{{phone.snippet}}</p>
		</li>
	</ul>
	<ul>
	<li ng-repeat="num in [1,2,3]">{{num}}</li>
	</ul>
       <!--4测试，省略-->
	<script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.js"></script>
	<!--<script src="controllers.js"></script>-->
	<script>
		//1定义模块（module）
		var phonecatApp = angular.module('phonecatApp', []);
		//2.定义控制器
		phonecatApp.controller('PhoneListCtrl', function ($scope)
		{
			
			$scope.phones = [
			  {
			  	'name': 'Nexus S',
			  	'snippet': 'Fast just got faster with Nexus S.'
			  },
			  {
			  	'name': 'Motorola XOOM™ with Wi-Fi',
			  	'snippet': 'The Next, Next Generation tablet.'
			  },
			  {
			  	'name': 'MOTOROLA XOOM™',
			  	'snippet': 'The Next, Next Generation tablet.'
			  }
			];
			
		
		});


	</script>
</body>
</html>
