/*全局 begin*/
body {
    font-family: "sans-serif";
    min-height: 90vh;
    position: relative;
}

body * {
    margin: 0;
    padding: 0;

}

body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100vw;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

a:hover, a:active {
    text-decoration: none !important;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.frot-sm {
    font-size: 1.2rem;
}

.font-md {
    font-size: 1.5rem;
}

.font-lg {
    font-size: 2rem;
}

.font-xl {
    font-size: 3rem;
}

.mt-0_5 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.p-1_4 {
    padding: 1.4rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-0-5 {
    padding-left: 0.5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pb-0-5 {
    padding-bottom: 0.5rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pr-1 {
    padding-right: 1rem;
}

.p-y-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.m-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.p-x-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.p-x-0 {
    padding-left: 0;
    padding-right: 0;
}

.p-y-0_5 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.p-y-0_6 {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.p-y-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.p-t-1 {
    padding-top: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-y-3 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.r-0_5 {
    right: 0.5rem;
}

.t-0_5 {
    top: 0.5rem;
}

.w-100 {
    width: 100%;
}

.vh-100 {
    height: 100vh;
}

.validCode {
    width: calc(100% - 100px) !important;
    float: left;
}

.validCode + button {
    display: block;
    height: 4rem;
    line-height: 4rem;
    border: none;
    width: 90px;
    float: right;
    margin-top: -1rem;
    border-radius: 0 !important;
}

.btn-round {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    line-height: 4rem;
    border-radius: 30px;
    border: none;
    max-width: 350px;
}

.border-none {
    border: none;
}

.border-gray-noleft {
    border: 1px solid #dedede;
    border-left: none;
}

.border-gray-bottom {
    border-bottom: 1px solid #dedede;
}

.border-gray {
    border: 1px solid #dedede;
}
.border-gray-right {
    border-right: 1px solid #dedede;
}

.border-gray-top {
    border-top: 1px solid #dedede;
}

.line-x-gray {
    border-right: 1px solid #dedede;
}

.line-y-gray {
    border-bottom: 1px solid #dedede;
    font-size: 1rem;
    position: relative;
    top: 0.5rem;
}

/*颜色*/
.btn-improtant:not([disabled]) {
    color: #f8f8f8 !important;
    background-color: #2CB646 !important;

}

.btn-improtant:not([disabled]):hover {
    background-color: #259a3b !important;
}

.btn-disabled, .btn-improtant[disabled] {
    color: #999 !important;
    background-color: #dedede;
}

.btn-normal {
    color: #2a2a2a;
    background-color: #dedede;
    border-radius: 4px !important;
}

.btn-normal:hover, .btn-normal:active {
    background-color: #c0c0c0;
}

.btn-week {
    color: #ff7e17;
    background-color: #2CB646;
    border-radius: 4px !important;
}

.btn-week:hover, .btn-week:active {

    background-color: #dcdcdc;
}

.color-red{
    color: #DE2C29;
}

.border-red{
     border: 1px solid #DE2C29;
}

.color-orange {
    color: #ff7e17;
}

.border-orange {
    border: 1px solid #ff7e17;
}

.color-green {
    color: #2cb646;
}

.border-green {
    border: 1px solid #2cb646;
}

.color-purple {
    color: purple;
}

.border-purple {
    border: 1px solid purple;
}

.color-yellow {
    color: #f7d354;
}

.border-yellow{
    border: 1px solid #f7d354;
}

.bg-color-yellow {
    background-color: #f7d354;
}

.bg-color-green {
    background-color: #2CB646;
}

.bg-color-green-light {
    background-color: #EDF4EF;
}

.color-gray {
    color: #999999;
}

.color-title {
    color: #2a2a2a;
}

.color-content {
    color: #434343;
}

.color-week-btn {
    color: #676767;
}

.bg-color-gray {
    background-color: #f0f0f0;
}

.bg-color-spacing {
    background-color: #f8f8f8;
}

.bg-color-white {
    background-color: white;
}

.color-white {
    color: white;
}

.color-blue {
    color: #4cadda;
}

.ckb-green {
    visibility: hidden;

}

.ckb-green + span {
    background: url("/images/common/btn_Agree_n@2x.png") no-repeat;
    padding-left: 2rem;
    background-size: contain;
    position: relative;
    right: 1rem;

}

.ckb-green:checked + span {
    background: url("/images/common/btn_agree_pre@2x.png") no-repeat;
    padding-left: 2rem;
    background-size: contain;
}

/*全局 end*/

/*头部 begin*/
.navbar {
    background-color: #2CB646;
    border-bottom-color: #2CB646;
    margin-bottom: 0 !important;
    height: 5rem;

}

.navbar > * {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}
.navbar a:visited,.navbar a:hover{
    color: white;
}

.navbar h1, .navbar h2, .navbar h3 {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    z-index: -1;
}

.navbar + nav {
    margin-top: 5rem;
}

nav ul li {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    height: 4rem;
    line-height: 4rem;
    background-color: white;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li.on {
    border-bottom: 2px solid #2CB646;
}

/*头部 end*/

/*中部 begin*/
.swiper-container {
    margin-left: -15px;
    margin-right: -15px;

}

@media screen and (orientation: portrait) {
    .swiper-container {
        min-height: 10vh;
    }
}

@media screen and (orientation: landscape) {
    .swiper-container {
        min-height: 20vh;
    }
}

.main {
    margin-top: 9rem;
    background-color: #f0f0f0;
    overflow: hidden !important;
}

.btnCollections {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px;
    min-height: 90.14vw;
    background: url("../images/mokao/maokao_bg_01.jpg") no-repeat;
    background-size: 100%;
}
.btnCollections-4{
    background-image: url("../images/mokao/maokao_bg_04.jpg") ;
}

/*#share {
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 1rem;
    min-height: 30vw;
    background: url("../images/mokao/bg_share.jpg") no-repeat;
    background-size: 100%;
}*/

.exercise a:not(:last-child) {
    display: block;
    width: calc(50vw - 1.333333vw - 10px);
    height: calc((50vw - 1.333333vw - 10px) / 1.725);

}

@media screen and (min-width: 720px) {
    .exercise a:not(:last-child) {
        display: block;
        width: calc(50% - 1.333333% - 10px);
        height: calc((50vw - 1.333333vw - 10px) / 1.725);
        max-height: 260px;

    }
}

.exercise a.exercise-exam {
    display: block;
    width: 38.4vw;
    height: 38.4vw;
    border-radius: 50%;
    /*background-color: red;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 8.6vw;
    max-width: 449px;
    max-height: 449px;

}

@media screen and (min-width: 1200px) {
    a.exercise-exam {
        top: 108.5px !important;
    }
}

.exercise-random, .exercise-special {
    margin-top: 2.666666vw;
}

/*.btnCollections ul*/
/*{*/
/*width: calc(10vw - 20px) ;*/
/*height: calc((25vw - 5px) * 1.124 );*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/
.btnCollections li {
    width: calc(25vw - 7px);
    height: calc((25vw - 5px) * 1.124);
    display: block;
    float: left;
    margin-top: 2.666666vw;
}

@media screen and (min-width:720px)  {
    .btnCollections li {
        width: calc(25%);
        height: calc((25vw - 5px) * 1.124);
        display: block;
        float: left;
        margin-top: 2.666666vw;

    }
}



.btnCollections li a {
    display: block;
    width: 100%;
    height: 100%;
}

/*中部 end*/

/*my*/
.row-setting {
    display: block;
    height: 50px;
    box-sizing: border-box;
}

.row-setting img {
    margin-top: 10px;
    float: left;
    width: 30px;
    margin-left: 1rem;
}

.row-setting div {
    line-height: 50px;
    float: right;
    width: calc(100% - 30px - 2rem);
    margin-left: 1rem;
}

.input-wrap-round {
    border-radius: 30px;
    width: 90%;
    max-width: 350px;
    height: 4rem;
    line-height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    overflow: hidden;
}

.input-wrap-rectangle {
    height: 4rem;
    line-height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
}

.input-wrap-round input, .input-wrap-rectangle input {
    display: block;
    height: 2rem;
    line-height: 2rem;
    border: none;
    width: calc(100% - 20px);
}

.input-wrap-round input:focus {
    border: none !important;
}

/*login*/
.other-way-login, .share-app {
    position: absolute;
    bottom: 0;
    width: 90%;
    max-width: 750px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.share-app {
    position: relative;
    width: inherit;
    padding-top: 1rem;
}

.other-way-login > *:not(:last-child), .share-app > *:not(:last-child) {
    width: 33.3333%;
    float: left;
}

.feedback-textarea {
    display: block;
    border: none;
    border-radius: 0;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .feedback-textarea {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}

.setting-update-info {
    height: 6rem;
    line-height: 6rem;
}

.setting-update-info label {
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.setting-update-info input {
    border: none;
    height: 2rem;
    line-height: 2rem;
    width: calc(100% - 8rem);
}

/*my end*/

/*school*/
.schoolInfo-right-wrap {
    border-left: 1px solid #dedede;
    padding-left: 5px;
    height: 48px;
    line-height: 48px
}

.schoolInfo-right-wrap img {
    width: 24px;
}

.schoolInfo-right-wrap span {
    position: relative;
    top: 2px;
    right: 2px
}

.panel-title {
    display: block;
    border: none;
    border-top: 1px solid #dedede;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: #f0f0f0;
}

.panel-title.on {
    border-top-color: #2cb646;
    background-color: white;
    color: #2cb646;
}

/*/mk begin*/
[id^=page-sbj] {
    min-height: 20vh;
    width: 100vw;
}

[id^=page-sbj]:not(.swiper-slide-active) {
 max-height: 100vh;
}



img.page-loading {
    display: block;
    margin: 40% auto;
}

/*页面swipe*/

/*驾校 教练详情页*/
.modal img {
    max-width: 100%;
}



