<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div>
    <h2>指令</h2>
    <ul style="list-style: none">
        <li>1.{{}} </li>
        <li>2. v-model="message"</li>
        <li>v-on:click="reverseMessage"</li>
        <li> v-for="todo in todos</li>
        <li>$index</li>
        <li> <p v-if="greeting">Hello!</p></li>
        <!-- 完整语法 -->
        <a v-bind:href="url"></a>

        <!-- 缩写 -->
        <a :href="url"></a>
        <!-- 完整语法 -->
        <a v-on:click="doSomething"></a>

        <!-- 缩写 -->
        <a @click="doSomething"></a>
        <h1 v-if="ok">Yes</h1>
        <h1 v-show="ok">Hello!</h1>

        //修改和删除促发视图更新问题
        example1.items.$set(0, { childMsg: 'Changed!'})
        this.items.$remove(item)

        <button v-on:click="say('hello!', $event)">Submit</button>
        // ...
        methods: {
        say: function (msg, event) {
        // 现在我们可以访问原生事件对象
        event.preventDefault()
        }
        }

        <!-- 阻止单击事件冒泡 -->
        <a v-on:click.stop="doThis"></a>

        <!-- 提交事件不再重载页面 -->
        <form v-on:submit.prevent="onSubmit"></form>

        <!-- 修饰符可以串联 -->
        <a v-on:click.stop.prevent="doThat">

            <!-- 只有修饰符 -->
            <form v-on:submit.prevent></form>

            <!-- 添加事件侦听器时使用 capture 模式 -->
            <div v-on:click.capture="doThis">...</div>

            <!-- 只当事件在该元素本身（而不是子元素）触发时触发回调 -->
            <div v-on:click.self="doThat">...</div>



    </ul>
</div>




<div id="demo">
    <h1>Latest Vue.js Commits</h1>
    <template v-for="branch in branches">
        <input type="radio"
               name="branch"
               :id="branch"
               :value="branch"
               v-model="currentBranch">
        <label :for="branch">{{branch}}</label>
    </template>
    <p>vuejs/vue@{{currentBranch}}</p>
    <ul>
        <li v-for="record in commits">
            <a :href="record.html_url" target="_blank" class="commit">{{record.sha.slice(0, 7)}}</a>
            - <span class="message">{{record.commit.message | truncate}}</span><br>
            by <span class="author">{{record.commit.author.name}}</span>
            at <span class="date">{{record.commit.author.date | formatDate}}</span>
        </li>
    </ul>
</div>
<script src="js/vue.js"></script>
<!--<script src="js/app.js"></script>-->
<script>
    var apiURL = 'https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha='

    var demo = new Vue({
        //作用域
        el: '#demo',
        //数据
        data: {
            branches: ['master', 'dev'],
            currentBranch: 'master',
            commits: null
        },
        //对象创建后执行，data observation, computed properties, methods, watch/event callbacks 已设置好 $el插入前
        created: function () {
            this.fetchData()
        },
        watch: {
            currentBranch: 'fetchData'
        },
        //自定义过滤器
        filters: {
            truncate: function (v) {
                var newline = v.indexOf('\n')
                return newline > 0 ? v.slice(0, newline) : v
            },
            formatDate: function (v) {
                return v.replace(/T|Z/g, ' ')
            }
        },
        //方法
        methods: {
            fetchData: function () {
                var xhr = new XMLHttpRequest()
                var self = this
                xhr.open('GET', apiURL + self.currentBranch)
                xhr.onload = function () {
                    self.commits = JSON.parse(xhr.responseText)
                }
                xhr.send()
            }
        }
    })
</script>
</body>
</html>